html{
	overflow-x: hidden;
	
	background-color: black;
	max-height: 120vh;
}
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
		/*End Reset*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*Variables*/

/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

@media screen{
body{
	min-height: 100vh;
	max-height: 100vh;
}
.body-content{
  overflow:hidden; 
  height: 90vh;
  max-height:100vh;
  
}
.content-wrapper{
  margin-top: -100vh; 
}
.content-top{
  margin-top:0vh;
}

.content-bottom{
  margin-top: -200vh;
}

header{
	position:absolute;
	background-color:black;
	z-index: 1000;
	width:100%;	
}
.split-container{
	background-color:orange;
	overflow:hidden;
	height: 100vh;
	
}	
footer{
	position:relative;
	background-color:black;
	z-index: 50;
	width:100%;	
}
#main-block{
  transition: margin-top 400ms ease; 
}

#topnav{
  position:absolute;
  z-index:1000;
  margin-top:8vh;
  width: 100vw;
}
#bottomnav{
  position:relative;
  z-index:1000;
  
  width: 100vw;
  background-color: yellow;
}
#topnav ul, #bottomnav ul{
 display:flex;
 justify-content: space-around;
 width:100%
}
#topnav li{
   display: inline;
	  cursor: pointer;
	  font-size :3vh;
	  text-align:center;
}
#bottomnav li{
  display: inline;
	  cursor: pointer;
	  font-size :3vh;
	  text-align:center;
}
.split-top{
	background-color:white;
	
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 500ms;
	overflow: hidden;
}
	.back-img{
		position: relative;
		margin-top:30vh;
		min-width:100vw;
		min-height:60vh;
		z-index:5;
	}
	
.split-bottom{	
	background-color:lightblue;	
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 500ms;
	overflow: hidden;
}
	.split-bottom:hover , .split-top:hover{
		opacity:.85;
	}
	
	.view{
	  margin-top: 0;
	  margin-bottom:0;
	}
	.center-nav{
		height: 0;
		
	}
	.circle{
		position: absolute;
		z-index: 100;
		top: 50%;
		left: 50%;
		
		background-color: green;
		
		display: flex;
		align-items: center;
		justify-content: center;
		transition: border-radius 400ms, margin-left 400ms, left 400ms, width 400ms, margin-top 400ms, height 400ms ; 
	}
	.topsidenav{
	 margin: 36vh 0 0 -0vw !important;
	 opacity: .55;
	}
	.topsidenav:hover, .bottomnav:hover{
	  opacity:.95;
	}
	.bottomnav{
	 margin:  -46vh 0 0 -0vw !important;
	 opacity: .55;
	}
	.center-nav input{
	  
		display:none;
	}
	
	.circle nav{
	  display:none;
		transition: opacity 700ms ease;
		flex-grow:1;
		justify-content:space-around;
		height:100%;
		width: 45%;
	}
	.circle nav ul{
	  display: flex;
	  justify-content:space-around;
	  
	  align-items: center;
	  width: 100%;
	  height:100%;
	}
	.circle nav li,  .nav-expand{
	  display: inline;
	  cursor: pointer;
	  
	  margin: 0px 0%;
	  font-size :6vh;
	  text-align:center;
	  }
	  .circle nav li div,  .nav-expand div{
	   font-size: 2vw; 
	  }
	  .circle label{
	    cursor: pointer; 
	    
	  }
	  .circle .toggle{
	    font-size: 8vw; 
	    
	  }
	  
	  
	  
	  
	  .placer{
	    height: 100vh;
	    width: 100vw;
	    background-color: red;
	  }
	  .placer1{
	    height: 100vh;
	    width: 100vw;
	    background-color: purple;
	  }
	  .placer2{
	    height: 100vh;
	    width: 100vw;
	    background-color:pink;
	  }
	  .placer3{
	    height: 100vh;
	    width: 100vw;
	    background-color: yellow;
	  }
	  
	  
}


@media screen and (max-width: 650px){
	header{
		height: 20vh;
		top: -13vh;
		
	}
	.split-container{
	
	}	
	.split-top{
	height: 60vh;
	transform: skew(0,-10.5deg);
	margin-top: -10vh;
	
	}
	
	.split-bottom{	
	height: 65vh;
	transform: skew(0,-10.5deg);
	margin-bottom: -50vh;	
	}
	.split-bottom .split-content{
		margin-top:-70vh;
	}
	.circle{
		width: 20vw;
		height: 20vw;
		margin-top: -10vw;
		margin-left: -10vw;
		border-radius: 10vw;
		font-size: 90%;
	}
	#toggler:checked ~ .circle{
		border-radius: 0rem;
		width:100vw;
		margin-left:0vw;
		left:0;
		height:15vh;
		margin-top:-7.5vh;
	}
	#resizer:checked ~ .circle{
		border-radius: 0rem;
		width:100vw;
		height:90vh;
		margin-left:0;
		left:0;
		
		margin-top:-45vh !important;
	}
	
	/*.circle:hover{
		width:8rem;
		margin-left:-4rem;
		left: 50%;
	}*/
	
	footer{
	height: 30vh;
	bottom: -25vh;
	transform: skew(0,3deg);
	
	}
	footer *{
		transform: skew(0,-3deg);
	}
	.split-content{	
	transform: skew(0deg, 10.5deg);
	}
	.shifted{
	  
		margin-top:90vh;
	}
	
	
}

@media screen and (min-width: 651px){
	header{
		height: 20vh;
		top: -14.5vh;
		
	}
	.split-container{
	
}	
	.split-top{
	height: 60vh;
	transform: skew(0,-5.5deg);
	margin-top: -10vh;
	
}
	.split-bottom{	
	height: 60vh;
	transform: skew(0,-5.5deg);
	margin-bottom: -10vh;	
}
	.split-content{	
	transform: skew(0deg, 5.5deg);
}	
	.circle{
		width: 9rem;
		height: 9rem;
		margin-top: -4.5rem;
		margin-left: -4.5rem;
		border-radius: 4.5rem;
	}
	.circle:hover{
		width:11rem;
		margin-left:-5.5rem;
	}
	#toggler:checked ~ .circle{
		border-radius: 0rem;
		width:100vw;
		margin-left:0;
		left:0;
		height:5rem;
		margin-top:-2.5rem;
	}
	footer{
		height: 30vh;
		bottom: 5vh;
		
	}
	footer *{
		
	}
}


